---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="mycontainer">
            {% include nav-about.html %}
            <div class="content">                   
                <div class="post-title title-spacing {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <p style="text-align: center;">
                        <a href="mailto:yuntungc@uw.edu" target="_blank"><i class="fa fa-envelope-square contact-icon"></i>yuntungc@uw.edu</a>
                        <a href="https://www.linkedin.com/in/yuntungc/" target="_blank"><i class="fa fa-linkedin-square contact-icon"></i>yuntungc</a>
                        <a href="https://github.com/winona1111" target="_blank"><i class="fa fa-github contact-icon"></i>winona1111</a>
                        <a href="https://medium.com/@wyuntc" target="_blank"><i class="fa fa-book contact-icon"></i>Medium</a>
                    </p>
                </div>
                {{ content}}
            </div>
        </div>
    </header>
    <script src="{{ site.url }}/assets/js/my.js"></script>
</body>
</html>