---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
        <!-- <div class="mycontainer home"> -->
            <div class="row">
                <!-- <a href="{{ site.url }}"> -->
                <img src="{{ site.logo }}" class="img-circle zoombtn">
                <!-- </a> -->
                <h3 class="title">
                    <!-- <a class="zoombtn" href="{{ site.url }}"> -->
                    <p style="font-size:1.5rem;font-weight:600">{{ site.title | strip_html}}</p>
                    <!-- </a> -->
                </h3>
                <hr class="hr-line">

                <h3 class="title">
                    <!-- <a href="{{ site.url }}"> -->
                    <p style="font-size:1rem;font-weight:300">{{ site.bio | strip_html6}}</p>
                    <!-- </a> -->
                </h3>
                <hr class="hr-line">

                <h3 class="title">
                    <code class="code-status">Current Status</code>
                </h3>

                <h3 class="title" style="display:block">
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>04/2025</div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="word-wrap: break-word;">Working at <b>UW ECE Information Processing Lab</b> </div>
                        <!-- how do i add a space line here -->
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>09/2024</div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="word-wrap: break-word;">Pursuing MS ECE at UW</b> </div>
                    </div>
                </h3>
                <hr class="hr-line">

                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/about">About</a>
                    <a class="btn zoombtn" href="#"ｓ id="cv" style="font-size:16px;">
                        <i class="fa fa-file-pdf-o" style="margin-right: 10px;"></i>CV
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/projects">Projects</a>
                    <a class="btn zoombtn" href="{{ site.url }}/posts">Posts</a>
                </h3>

                {% include social-links.html %}
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="https://documentcloud.adobe.com/view-sdk/viewer.js"></script>
    <script type="text/javascript">
        const previewConfig = {
            embedMode: "LIGHT_BOX",
            exitPDFViewerType: "RETURN",
        };

        document.getElementById('cv').addEventListener("click", function(){ 
            var adobeDCView = new AdobeDC.View({clientId: "3b1b59a09ef5411494a834a09ed49726"});
            adobeDCView.previewFile({
                content:{location: {url: "/assets/pdf/CV_061625.pdf"}},
                metaData:{fileName: "CV_YunTungChu.pdf"}
            }, previewConfig);
        });
    </script>
</body>
</html>
