---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                <a href="{{ site.url }}">
                    <img src="{{ site.logo }}" class="img-circle zoombtn">
                </a>
                <h3 class="title">
                    <a class="zoombtn" href="{{ site.url }}">
                        <p style="font-size:1.5rem;font-weight:600">{{ site.title }}</p>
                    </a>
                </h3>
                <hr class="hr-line">

                <h3 class="title">
                    <a href="{{ site.url }}">
                        <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
                    </a>
                </h3>
                <hr class="hr-line">

                <h3 class="title">
                    <!-- <code style="font-size:1.2rem;font-weight:500;color:#003D79;">Status</code> -->
                    <code class="code-status">Current State</code>
                </h3>

                <h3 class="title" style="display:block">
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>09/2023</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Building my own website.</div>
                    </div>
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>08/2023</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Learning IVR.</div>
                    </div>
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>03/2023</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Worked on graduation project.</div>
                    </div>
                </h3>
                <hr class="hr-line">

                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/about">
                        About
                    </a>
                    <a class="btn zoombtn" href="#" id="cv" style="font-size:16px;">
                        <i class="fa fa-file-pdf-o" style="margin-right: 10px;"></i>CV
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/projects">
                        Projects
                    </a>
                </h3>

                {% include social-links.html %}
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
